@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/Images/nike.png" alt="Nike logo" />
    <img src="~/Content/Images/jordan.png" alt="Jordan logo" />
    <img src="~/Content/Images/adidas.png" alt="Adidas logo" />
    </div>

<div class="row">
    <div class="col-md-4">
        <h1>Purpose of this website</h1>
        <h4>
            This website acts as a shoe inventory. 
        </h4>
        </div>
    <div class="col-md-4">
        <h2>Shoe Page</h2>
        <h5>
            Shoe page allows the user to add new shoes and customize shoes inside the inventory.
        </h5>
        <h5>
            Visitors can click on details to see more information about the shoe.
        </h5>
    </div>
    <div class="col-md-4">
        <h2>Company Page</h2>
        <h5>
            Companies page allows the user to add more shoes companies or brands they wish to advertise.  
        </h5>
        </div>
    
</div>